<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCBreakTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PC_Break_Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCBreakTimer.Properties.Settings>
            <setting name="WorkingDay" serializeAs="String">
                <value>08:15:00</value>
            </setting>
            <setting name="LunchTime" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="AddTime" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="WindowXPos" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WindowYPos" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PopUpWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultBreakTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkingPattern" serializeAs="String">
                <value>08:15:00,08:15:00,08:15:00,08:15:00,04:00:00,00:00:00,00:00:00</value>
            </setting>
            <setting name="LunchPattern" serializeAs="String">
                <value>00:30:00,00:30:00,00:30:00,00:30:00,00:00:00,00:00:00,00:00:00</value>
            </setting>
            <setting name="UseWorkingPattern" serializeAs="String">
                <value>True</value>
            </setting>
        </PCBreakTimer.Properties.Settings>
        <PC_Break_Timer.Properties.Settings>
            <setting name="WorkingDay" serializeAs="String">
                <value>08:15:00</value>
            </setting>
            <setting name="LunchTime" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="AddTime" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="WindowXPos" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WindowYPos" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PopUpWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultBreakTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </PC_Break_Timer.Properties.Settings>
    </userSettings>
</configuration>